---
import Base from "~/layouts/Base.astro";
---

<Base>
    <div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
        <h3 class="underline text-2xl sm:text-4xl text-white">竹像素</h3>
        <p class="indent-5 text-white">
            竹像素服务器（BambooPixel）是一个以周目制度进行更新的服务器。每个周目结束时，服务器会进行重置与更新，但玩家的成就和一些特定物品会根据服务器规则得到保留或转换。这种运营方式让玩家能够不断体验新鲜的游戏内容，同时保持对游戏的长期兴趣。
            我们的管理层由经验丰富的管理员和“纪律委员”组成，他们负责监督服务器的日常运营，处理玩家之间的纠纷，以及维护服务器的安全和稳定。同时，服务器还制定了一套详细的玩家及管理员守则和操作流程，以确保管理工作的公平和高效。
        </p>
        <h3 class="text-center underline text-4xl text-white">我们的优势</h3>
        <div class="grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 justify-items-center gap-y-1.5">
            <div class="h-3-block w-3-block p-1 [--zoom:2] map text-black text-center">
                <img src="/imgs/icons/heart-full.png" class="object-contain [transform:scale(2)] h-12 w-12 m-auto pt-2" />
                <br/>
                <p>和谐、友爱</p>
                <p>竹像素真不错真和谐厉害厉害啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
            </div>
            <div class="h-3-block w-3-block p-1 [--zoom:2] map text-black text-center">
                <img src="/imgs/icons/hammer-anvil.png" class="object-contain [transform:scale(2)] h-12 w-12 m-auto pt-2" />
                <br/>
                <p>不断进步</p>
                <p>竹像素真不错真和谐厉害厉害啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
            </div>
            <div class="h-3-block w-3-block p-1 [--zoom:2] map text-black text-center">
                <img src="/imgs/icons/hammer-anvil.png" class="object-contain [transform:scale(2)] h-12 w-12 m-auto pt-2" />
                <br/>
                <p>不断进步</p>
                <p>竹像素真不错真和谐厉害厉害啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
            </div>
            <div class="h-3-block w-3-block p-1 [--zoom:2] map text-black text-center">
                <img src="/imgs/icons/hammer-anvil.png" class="object-contain [transform:scale(2)] h-12 w-12 m-auto pt-2" />
                <br/>
                <p>不断进步</p>
                <p>竹像素真不错真和谐厉害厉害啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
            </div>
        </div>
        <a href="/docs" class="self-center py-2 px-5 my-5 button text-shadow-lg text-2xl">Get started</a>
    </div>
</Base>
